@import './Variables.scss';

.cover-with-playlist{ //not using 
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: $playlist-height;
}

.album-everything{
    width: 100%;
}

.album-cover, .itunes-playlist{
    margin-bottom: 1rem;;
}

// .spotify-playlist{
//     //height: 400px;   
// }

.itunes-playlist{
    min-width: 200px;
}

.album-title{
    color: $standard-text-color;
    padding: 0; 
    font-size: larger;  
    margin-top: 2rem;
}

.album-paragraph{
    color: $standard-text-color;
    padding: 0;
}

@media screen and (max-width: 576px){
    .itunes-playlist{
        min-height: 400px;
        width: 300px;
    }
    .cover-with-playlist{
        align-content: center; //doesn't work
    }
}