@import './Variables.scss';

.cover-with-playlist{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: $playlist-height;
}

.album-cover{
    width: auto;
}

.spotify-playlist{
    //height: 400px;
}

.itunes-playlist{
    height: 400px;
    width: 30%;
    border: 1px solid white; //because none of the playlists are fucking loading
}

.album-paragraph{
    color: $standard-text-color;
}