@import './Variables.scss';

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    padding: 10px 15px;
    background-color: rgb(10, 10, 10);
}
.social-media-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
.social-media-icon{
    width: 48px;
}
.text-links{
    display: flex;
    flex-direction: column;
}

.text-link{ 
    color: $standard-text-color;
    text-decoration: none;
}