@import './Variables.scss';

.headline-container{
    margin-top: 20px;
}

.headline{ 
    color: $standard-text-color;  
}

.snippet{ 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.headline-divider{
    margin-left: 25%;
}
@media screen and (max-width: 576px){
    .headline-container{
        margin-top: 3px;
    }
    .headline-title, .snippet{
        margin: 0; 
        font-size: small;
    }
    .read-more{
        font-size: small;
    }
}