@import './Variables.scss';

.headline-container{
    margin-top: 20px;
}

.headline{ 
    color: $standard-text-color;
}

.snippet{ 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}