@import './Variables.scss';
@import './Mixins.scss';

@font-face{
    src: $stylizedFontSource;
    font-family: $stylizedFont;
}

.home-container{
    padding-top: $nav-height;
    //height: 3000px; //testing, delete
}

.text-over-bg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header-text{
    position: absolute;

    font-family: $stylizedFont;
    font-size: x-large;
    letter-spacing: 0.15rem;    
    color: $standard-text-color;
    z-index: 1; //can't be on same level with bg, flex would display them next to one another
}

//REPEATS IN secondary-backgrounds-home
.home-header-image{ //this has a higher z-index than the nav bar would normally have... 
    //@include standardBackgroundPic("../assets/images/home-header-small.png");
    width: 100%;
    height: auto;
}

.below-header-container{
    padding: 
        0
        $std-container-padding-right
        $std-container-padding-bottom
        $std-container-padding-left;    
}

//REPEATS IN home-header-image
.secondary-backgrounds-home{
    width: 100%;
    height: auto;
}

.section-label-left{
    color: $standard-text-color;
    //margin-top: 50px;
}

.home-news{
    position: absolute; //so it needs this to stack up in a flex container rather than sit adjacent to sibling; for some reason the width is 0 without
    width: 100%;
    z-index: 1;
}

.parallax-background-home-1{
    @include parallaxBg("../assets/images/homeParallaxImage1.jpg");   
}

.tours-home{
    margin-top: 50px;
}

.tours-list{
    color: $standard-text-color;
}

.parallax-background-home-2{
    @include parallaxBg("../assets/images/homeParallaxImage2.jpg");   
}
