@import './Variables.scss';

@font-face{
    src: $stylizedFontSource;
    font-family: $stylizedFont;
}

.home-container{
    padding: 0;
    height: 2000px; //testing, delete
}

.home-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: -10%;
    padding-right: -10%;
}

.home-header-text{
    position: absolute;

    font-family: $stylizedFont;
    font-size: x-large;
    letter-spacing: 0.15rem;    
    color: $standard-text-color;
    z-index: 1; //can't be on same level with bg, flex would display them next to one another
}

.home-header-image{ //this has a higher z-index than the nav bar would normally have...
    background-image: url("../assets/images/home-header-small.png");
    --ratio: calc(992 / 1700); //the $content-width-standard-calc variable doesn't work in calc()

    background-size: 992px 550px;
    width: $content-width-standard;
    height: calc(710px * var(--ratio));    
}

.below-header-container{
    padding: 
        50px
        $std-container-padding-right
        $std-container-padding-bottom
        $std-container-padding-left;    
}

.news-label{
    color: $standard-text-color;
}

.tours-home{
    margin-top: 50px;
}

.concert-video-home{
    margin: 5px 0;
}

.tours-list{
    color: $standard-text-color;
}


