@import './Variables.scss';

p, pre, h1, h2, h3, h4, h5, h6{
    color: white;
}

.main{
    background-image: url('../assets/images/metal2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container{
    background: $main-bg-color;
    width: 80%;
    max-width: $content-width-standard;
    margin: 0 auto;

    display: flex; flex-direction: column;
}

@media screen and (max-width: $content-width-standard){
    .main-container{
        width: 100%;
    }
}