@import './Variables.scss';

.main{
    background-image: url('../assets/images/metal2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container{
    background: $main-bg-color;
    width: 80%;
    max-width: $content-width-standard;
    margin: 0 auto;
}

@media screen and (max-width: $content-width-standard){
    .main-container{
        width: 100%;
    }
}