@import './Variables.scss';

.main{
    background-image: url('../assets/images/metal2.jpg');
    //height: 2048px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container{
    background: $main-bg-color;
    width: $content-width-standard;
    margin: 0 auto;
}