.media-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 768px){
    .media-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 576px){
    .media-grid{
        grid-template-columns: 1fr 1fr;
    }
}