@import './Variables.scss';

.media-container{
    padding: 
        $std-container-padding-top
        $std-container-padding-right
        $std-container-padding-bottom
        $std-container-padding-left;
}

.media-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 768px){
    .media-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 576px){
    .media-grid{
        grid-template-columns: 1fr 1fr;
    }
    .video-grid{
        grid-template-columns: 1fr;
    }    
}