@import './Variables.scss';
@import './Mixins.scss';

@font-face{
    src: $stylizedFontSource;
    font-family: $stylizedFont;
}

.navbar-wrapper{
    //position: relative;
}

.nav-bar{
    width: $content-width-standard; //100% doesn't work, it starts the el where it's supposed to but it ends way the hell beyond the left edge of the screen...
    height: $nav-height;                        //it's because the backgrounds in the home route have a fixed width which persists as an el when they are cropped
    position: fixed;
    background-color: $main-bg-color;
    z-index: 2;
}

.nav-items{
    @include centeredSpaceAround(); 
    position: relative;
}
// .nav-items-half{
//     @include centeredSpaceAround();
// }
.nav-item{
    font-family: $stylizedFont;
    text-decoration: none;
    color: $nav-link-color;
}
.in-nav-menu{
    height: 200px;
    flex-direction: column;
}
.hamburger-menu{
    display: none;
    position: absolute;
    margin: 15px;
    height: 50%;
    z-index: 1;
}
.menu-visible{
    display: flex;
    flex-direction: column;
    justify-content: space-between; //needs repeating, otherwise the logo offsets like 20px lower
    height: 600px;
    background-color: $main-bg-color;

    box-sizing: border-box; //to include upper padding
    padding-top: 110px + 20px; //logo height + change
    padding-bottom: 30px;
}
#nav-item-visible_1, #nav-item-visible_2, #nav-item-visible_3, #nav-item-visible_4 {
    display: block;
}
.nav-logo{
    width: 150px;
    //when outside nav items
    position: absolute;
    top: 1px;
    left: calc(50% - 150px/2);
    z-index: 1;
}

.going-up{
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.going-down{
    transform: translateY(-100% - 40%);
    transition: transform 0.5s ease-in-out;
}

.nav-border-wrapper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: $nav-height - 12px;//$nav-border-height;
    width: 100%;
}
.lower-fang-border-wrapper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -4px;
}
.ornate-border{ 
    height: $nav-border-height;
}
.menu-down{
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}
.menu-up{
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}
.display-none{
    display: none;
}
@media screen and (max-width: $content-width-standard){
    .nav-bar{
        width: 100%;
    }
    .left-7, .right-1{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .left-6, .right-2{
        display: none;
    }
}
@media screen and (max-width: 640px){
    .left-5, .right-3{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .left-4, .right-4{
        display: none;
    }
    .nav-item{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
}

@media screen and (min-width: 576px){
    .menu-visible{
        flex-direction: row;
        height: 100%;
        box-sizing: content-box;      
        padding: 0;
    }
}