@import './Variables.scss';

@font-face{
    src: $stylizedFontSource;
    font-family: $stylizedFont;
}

.navbar-wrapper{
    //position: relative;
}

.nav-bar{
    width: $content-width-standard; //100% doesn't work, it starts the el where it's supposed to but it ends way the hell beyond the left edge of the screen...
    height: $nav-height;                        //it's because the backgrounds in the home route have a fixed width which persists as an el when they are cropped
    position: fixed;
    background-color: $main-bg-color;
    z-index: 2;
}

.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.nav-item{
    font-family: $stylizedFont;
    text-decoration: none;
    color: $nav-link-color;
}
.hamburger-menu{
    display: none;
    position: absolute;
    margin: 15px;
    height: 50%;
}
.menu-visible{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    border: 5px solid red;
}
// .nav-item-visible{
//     display: block;
// }
#nav-item-visible_1, #nav-item-visible_2, #nav-item-visible_3, #nav-item-visible_4 {
    display: block;
}
.nav-logo{
    width: 150px;
}

.going-up{
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.going-down{
    transform: translateY(-100% - 40%);
    transition: transform 0.5s ease-in-out;
}

.nav-border-wrapper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: $nav-height - 12px;//$nav-border-height;
    width: 100%;
}

.ornate-border{ //not using?
    height: $nav-border-height;
}

@media screen and (max-width: $content-width-standard){
    .nav-bar{
        width: 100%;
    }
    .left-7, .right-1{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .left-6, .right-2{
        display: none;
    }
}
@media screen and (max-width: 640px){
    .left-5, .right-3{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .left-4, .right-4{
        display: none;
    }
    .nav-item{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
}