@import './Mixins.scss';

.pic-modal-background{
    @include modalBackground();

    //not sure if I need this...
    width: calc(100vw - 2px); //overrides
    height: calc(100vh - 2px);

    margin: 0;
    padding: 0;

    display: flex;
}

// AVOID SQUARE OR PORTRAIT PICTURES -- the card modal needs space below the picture for a caption when the picture is enlarged
.card-modal{
    --side: min(90vw, 90vh);
    width: var(--side);
    height: var(--side);
    // margin: calc((100vh - var(--side)) / 2) 
    //         calc((100vw - var(--side)) / 2);
    justify-content: center;
    align-items: center;
}