$main-bg-color: rgb(25, 25, 25);

$stylizedFontSource: url(../assets/fonts/motorhead.ttf);
$stylizedFont: Motorhead;
$nav-link-color: white;

$content-width-standard: 992px;
$content-width-standard-calc: 992;

$nav-height: 70px;
$nav-border-height: 12px;

$playlist-height: 400px;

$standard-text-color: white;

$std-container-padding-top: 150px;
$std-container-padding-right: 5%;
$std-container-padding-bottom: 0;
$std-container-padding-left: 5%;