

.nav-inner-layout{
    display: flex;
    width: 100%;
}

.half-nav-links{
    display: flex;
    
}

.half-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link-nonmobile,
.nav-link-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .logo-wrapper{
    grid-area: logo;

    width: 64px;
    height: 64px;
    background-color: blue;
}
