

@font-face {
	font-family: TeethAndFangs;
	src: url(/fonts/teeth-and-fangs.ttf);
}

@mixin pseudo-fang($fang-glyph, $preContent, $postContent){
	$content: $preContent;

	@for $i from 1 through 5{

		$content: $content + $fang-glyph;
		@media (min-width: ($i * 200px)){
			content: $content + $postContent;
			font-family: TeethAndFangs;
			font-size: 8rem;
			letter-spacing: -1.7rem;
			//display: flex;
			width: 100vh;
			height: 150px;

		}
	}
}



.left-fangs::before{
	@include pseudo-fang("d", "", "dh");
}

.right-fangs::before{
	@include pseudo-fang("b", "fb", "");
}




