

@font-face {
	font-family: TeethAndFangs;
	src: url(/fonts/TeethAndFangs.ttf);
}

@mixin pseudo-fang($fang-glyph, $initialContent){
	$content: $initialContent;

	@for $i from 1 through 5{

		$content: $content + "b";
		@media (min-width: ($i * 200px)){
			content: $content;
			font-family: TeethAndFangs;
			font-size: 8rem;
			letter-spacing: -1.7rem;
			display: flex;
			width: 100vh;
			height: 150px;

		}
	}
}



.left-fangs::before{
	@include pseudo-fang("b", "fb");

}




